.local-userinfo__root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.local-table {
    text-align: center;
    margin: 5px;
}


tr {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

th {
    background-color: lightsteelblue;
    border: 1px solid black;
    text-align: center;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 0 5px;
}

#create-modal {
    align-self: center;
}

